body {
  margin: 0;
  padding: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), -webkit-gradient(linear, left bottom, left top, from(#FFFFFF), to(#FFFFFF));
  background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: black;
  height: 50px;
  color: #dadada;
}

header .logo {
  width: 6%;
  position: absolute;
  top: 2%;
}

header ul {
  display: none;
}

header i {
  font-size: 2.5rem;
  float: right;
  margin-right: 5%;
}

section.billboard {
  background: url("assets/desktopBackground.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  bottom: 20px;
  color: #fafafa;
}

section.billboard .billboard-content p {
  font-family: 'Advent Pro', sans-serif;
  text-align: center;
  padding-top: 50%;
  padding-right: 10;
  padding-left: 3%;
  font-size: 1.2rem;
}

section.billboard .billboard-content .developer {
  position: relative;
  bottom: 2%;
  font-weight: bold;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 5em;
  font-family: 'Montserrat', sans-serif;
}

section.billboard .billboard-content .divider {
  text-align: center;
}

section.billboard .billboard-content .contacts {
  text-align: center;
  margin-top: 10%;
}

section.billboard .billboard-content .contacts img {
  width: 7.5%;
  margin-right: 5%;
  position: relative;
  left: 2.5%;
}

section.billboard .billboard-content-desktop {
  display: none;
}

section.cosmetic {
  color: #dadada;
}

section.cosmetic .it_berries_container {
  text-align: center;
}

section.cosmetic .it_berries_container .itLogo {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  width: 90%;
  position: relative;
  top: 10vh;
}

section.cosmetic .creativity {
  background-color: black;
  position: relative;
  bottom: 10vh;
  font-family: 'Open Sans', sans-serif;
}

section.cosmetic .creativity h3 {
  text-align: center;
  padding-top: 10%;
  font-size: 2rem;
  padding-right: 1%;
}

section.cosmetic .creativity p {
  padding: 0 8% 0 8%;
  text-align: justify;
}

section.cosmetic .creativity p .more {
  display: none;
}

section.cosmetic .creativity .ITB-logo {
  display: none;
}

section.cosmetic .creativity .button-container {
  text-align: center;
  padding-bottom: 10%;
}

section.cosmetic .creativity .button-container button {
  padding: 5%;
  padding-right: 10%;
  padding-left: 10%;
  background: transparent;
  color: white;
  font-weight: bold;
  border: none;
  border-left: 1.8px solid white;
  border-right: 1.8px solid white;
}

section.aboutMe {
  margin-top: 20%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

section.aboutMe h1 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 40%;
  margin-left: 27%;
  font-family: 'Montserrat', sans-serif;
}

section.aboutMe p {
  text-align: justify;
  padding: 0 8% 0 8%;
}

.divider-container {
  text-align: center;
  margin-top: 20%;
  margin-bottom: 20%;
}

.divider-container img {
  width: 300px;
}

section.brief {
  font-family: 'Open Sans', sans-serif;
  margin-top: 10%;
}

section.brief div {
  padding: 0 10% 0 10%;
}

section.brief div .brief-heading {
  position: relative;
  left: 10%;
  bottom: 5vh;
}

section.brief div p {
  text-align: justify;
  position: relative;
  bottom: 5vh;
}

section.skills {
  font-family: 'Open Sans', sans-serif;
  margin-top: 20%;
  text-align: center;
}

section.skills .skills-mobile h1 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 20%;
  margin-left: 27%;
  padding-left: 12%;
  padding-right: 10%;
  font-family: 'Montserrat', sans-serif;
}

section.skills .skills-mobile h2 {
  font-size: 2rem;
  border: none;
  font-size: 2.8rem;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 20%;
}

section.skills .skills-mobile .tech img {
  display: block;
  margin-bottom: 10%;
  margin-left: 37%;
}

section.skills .skills-mobile .tech .tech-text {
  margin-right: 3%;
}

.skills-desktop {
  display: none;
}

section.projects {
  background-color: #272626;
}

section.projects .projects-background {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Smooch Sans', sans-serif;
  background-image: url("assets/projectsBack.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 30vw;
}

section.projects h1 {
  color: white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  width: 100px;
  margin-left: 29%;
  padding-left: 15%;
  padding-right: 3%;
  position: relative;
  top: 30%;
}

section.projects nav {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Smooch Sans', sans-serif;
  color: #d1cfcf;
  position: relative;
  bottom: 5.2vh;
  font-size: 1.8rem;
}

section.projects nav ul {
  position: relative;
  right: 0%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48% 48%;
      grid-template-columns: 48% 48%;
}

section.projects nav ul li {
  border-bottom: 1.5px solid #b9b8b8;
}

section.projects nav ul li:last-child {
  position: relative;
  margin-top: 20%;
  margin-bottom: 30%;
}

section.projects .project-links {
  position: relative;
  bottom: 12vh;
}

section.projects .project-links img {
  width: 100%;
}

section.projects .project-links .desktop-projects {
  display: none;
}

@media (min-width: 1024px) {
  header .logo {
    position: absolute;
    top: 1.6%;
    width: 4%;
  }
  header i {
    display: none;
  }
  header ul {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 5%;
    width: 40%;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
  }
  header ul li {
    margin-right: 11%;
    padding: 2%;
  }
  header ul li a {
    color: white;
  }
  header ul li:last-child {
    background-color: white;
    border-radius: 25px;
    height: 10px;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 1.5vw;
  }
  header ul li:last-child a {
    color: black;
  }
  section.billboard .billboard-content {
    display: none;
  }
  section.billboard .billboard-content-desktop {
    display: block;
    text-align: center;
    font-size: 1em;
    position: relative;
    top: 20%;
    color: #f1f1f1;
    font-family: 'Advent Pro', sans-serif;
  }
  section.billboard .billboard-content-desktop .developer {
    font-family: 'Montserrat', sans-serif;
  }
  section.billboard .billboard-content-desktop .divider img {
    position: relative;
    right: 1.3%;
  }
  section.billboard .billboard-content-desktop .contacts img {
    margin-right: 2%;
  }
  section.cosmetic .creativity {
    font-size: .9rem;
    padding-bottom: 10%;
    background: linear-gradient(90.18deg, #1D1D1D 31.74%, #1D1D1D 90.49%, #1D1D1D 90.49%);
  }
  section.cosmetic .creativity h3 {
    padding: 0;
    float: left;
    margin-left: 8%;
  }
  section.cosmetic .creativity p {
    text-align: none;
    padding: 11% 30% 2% 8%;
  }
  section.cosmetic .creativity .ITB-logo {
    display: inline;
    position: absolute;
    width: 20%;
    right: 1%;
  }
  section.cosmetic .creativity .button-container {
    float: left;
    margin-left: 8%;
  }
  section.cosmetic .creativity .button-container button {
    padding: 35%;
  }
  section.aboutMe {
    font-size: .9rem;
    margin: 0;
  }
  section.aboutMe h1 {
    width: 20%;
    position: relative;
    left: 10%;
  }
  section.aboutMe p {
    margin-top: -9.9%;
    margin-bottom: -8%;
  }
  .divider-container {
    padding-bottom: 10%;
    padding-right: 6%;
  }
  .second-divider {
    padding-top: 12%;
    padding-right: 7.5%;
  }
  section.brief {
    margin-top: -20%;
    margin-bottom: -30%;
    font-size: .9rem;
    display: -ms-grid;
    display: grid;
    padding-left: 4%;
    -ms-grid-columns: 48% 48%;
        grid-template-columns: 48% 48%;
  }
  section.brief div:last-child {
    position: relative;
    left: 55%;
  }
  section.skills {
    display: none;
  }
  section.skills-desktop {
    display: block;
    font-size: .9rem;
    margin-top: -10%;
  }
  section.skills-desktop h1 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 13%;
    margin-left: 39%;
    padding-left: 7%;
    font-family: 'Montserrat', sans-serif;
  }
  section.skills-desktop h2, section.skills-desktop .tech {
    font-family: 'Montserrat', sans-serif;
    margin-left: 20%;
  }
  section.skills-desktop .tech {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 20% 20% 20%;
        grid-template-columns: 20% 20% 20% 20%;
  }
  section.skills-desktop .tech div {
    margin-top: 7vh;
  }
  section.skills-desktop .tech div div {
    margin-left: 13%;
  }
  section.skills-desktop .tech div:last-child img {
    width: 80%;
    position: relative;
    bottom: 2.3vw;
    right: 16%;
  }
  section.skills-desktop .tech div:last-child div {
    position: relative;
    bottom: 4.1vw;
  }
  section.projects nav ul {
    display: -ms-grid;
    display: grid;
  }
  section.projects .project-links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33.4% 33.4% 33.4%;
        grid-template-columns: 33.4% 33.4% 33.4%;
  }
  section.projects .project-links img {
    height: 20vw;
  }
  section.projects .project-links .desktop-projects {
    display: inline;
  }
  section.contacts {
    font-size: .9rem;
    margin-top: 5%;
  }
  section.contacts #contacts {
    position: relative;
    left: 8%;
    width: 0;
    padding-right: -70%;
    padding-left: -60%;
  }
  section.contacts form #input {
    width: 20%;
  }
  footer .back-to-top i {
    padding-right: 3.4vw;
  }
}

section.contacts h1 {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 20%;
  margin-left: 28%;
  padding-left: 5%;
  padding-right: 15%;
  font-family: 'Montserrat', sans-serif;
}

section.contacts form {
  text-align: center;
  margin-top: 15%;
}

section.contacts form input, section.contacts form textarea {
  background: transparent;
  border: none;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  margin-top: 8%;
}

section.contacts form input {
  padding: 5%;
}

section.contacts form textarea {
  position: relative;
}

section.contacts form .submit-button {
  border-bottom: none;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 10vh;
  width: 30%;
}

footer {
  margin-top: 20%;
  background-color: black;
  color: #e0e0e0;
  height: 250px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

footer .back-to-top i {
  position: relative;
  top: 3.5vh;
  left: 12.4%;
  -webkit-animation-name: top;
          animation-name: top;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes top {
  from {
    top: 2.5vh;
  }
  to {
    top: 3.7vh;
  }
}

@keyframes top {
  from {
    top: 2.5vh;
  }
  to {
    top: 3.7vh;
  }
}

footer .back-to-top a {
  position: relative;
  top: 8vh;
  right: 3.4%;
}

footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  top: 30%;
  right: 5%;
}

footer .copy-rights {
  position: relative;
  top: 39%;
  font-size: .7rem;
}

@media (min-width: 700px) {
  body {
    font-size: 1.8rem;
  }
  header {
    height: 80px;
  }
  header i {
    margin-top: 1%;
    font-size: 3.3rem;
  }
  section.billboard {
    bottom: 29px;
  }
  section.billboard .billboard-content {
    position: relative;
    bottom: 20vw;
  }
  section.billboard .billboard-content p {
    font-size: 1.4rem;
    padding-bottom: 2%;
    padding-right: 2%;
  }
  section.cosmetic .creativity h3 {
    padding-right: 3%;
  }
  section.aboutMe {
    margin-top: 0;
  }
  section.aboutMe h1 {
    margin-bottom: 15%;
  }
  section.skills .tech img {
    margin-left: 34%;
    width: 30%;
  }
  section.skills .tech img:last-child {
    margin: 0;
    margin-left: 35%;
    width: 0%;
  }
  section.projects h1 {
    padding-right: 20%;
    right: 2.5%;
  }
  section.projects nav ul li a {
    position: relative;
    left: 16%;
  }
  section.projects nav ul li:last-child {
    margin-left: 16%;
  }
  section.contacts h1 {
    padding-left: 8.5%;
  }
  section.contacts form input {
    width: 60%;
  }
  section.contacts form textarea {
    width: 70%;
  }
  footer {
    height: 370px;
  }
  footer .back-to-top {
    padding-right: 5%;
  }
  footer .back-to-top i {
    font-size: 2.5rem;
  }
  footer ul li {
    margin-top: 3%;
  }
  footer ul li a img {
    width: 150%;
  }
  footer .copy-rights {
    font-size: 1.4rem;
  }
}
/*# sourceMappingURL=style.css.map */