body{
    margin:0;
    padding:0;
    background: radial-gradient(50% 50% at 50% 50%,
     rgba(26, 21, 21, 0) 0%,
     rgba(1, 1, 1, 0.16) 100%),
       linear-gradient(0deg, #FFFFFF, #FFFFFF);

}
ul{
    list-style:none;
}
a{
    text-decoration:none;
    color:inherit;
}
header{
    background-color:black;
    height:50px;
    i{
      color:white;
      font-size:2rem;
      float:right;
      margin-right:5%;
    }
}
section.billboard{
    background:url("assets/mobile_Background.png");
    background-size:100% 100%;
    background-repeat:no-repeat;
    height:100vh;
    position:relative;
    bottom:20px;
    p{
        font-family: 'Advent Pro', sans-serif;
        color: rgba(255, 255, 255, 1);
        text-align:center;
        padding-top:50%;
        padding-right:10;
        padding-left:3%;
        font-size:1.2rem;
    }
    .developer{
        position:relative;
        bottom:2%;
        font-weight:bold;
        text-align:center;
        font-size:1.7rem;
        font-weight:5em;
        color: rgba(255, 255, 255, 1);
        font-family: 'Montserrat', sans-serif;
    }
    .divider{
        text-align:center;    
    }
    .contacts{
        text-align:center;
        margin-top:10%;
        img{
            width:5%;
        }
    }
    
}

section.cosmetic{
   .it_berries_container{
       text-align:center;
       .itLogo{
        transform:rotate(-25deg);
        width:90%;
        position:relative;
        top:10vh;
    }
   }
   .creativity{
    background-color:black;
    
    position:relative;
    bottom:10vh;
    color:white;
    font-family: 'Open Sans', sans-serif;
    h3{
        text-align:center;
        padding-top:10%;
        font-size:2rem;
    }
    p{
        padding: 0 8% 0 8%;
        text-align:justify;
        .more{
            display:none;
        }
    }
    .button{
        text-align:center;
        padding-bottom:10%;
        button{
            padding:5%;
            padding-right:10%;
            padding-left:10%;
            background:transparent;
            color:white;
            font-weight:bold;
            border:none;
            border-left:1.8px solid white;
            border-right:1.8px solid white;
        }

    }
   }
   
}

section.aboutMe{
    margin-top:20%;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    h1{
        border-top:2px solid black;
        border-bottom:2px solid black;
        width:40%;
        margin-left:27%;
        font-family: 'Montserrat', sans-serif;
    }
    p{
        text-align:justify;
        padding:0 8% 0 8%;
    }
}

.divider-container{
    text-align:center;
    margin-top:20%;
    margin-bottom:20%;
    img{
        
        width:60%;
    }    
}

section.brief{
    font-family: 'Open Sans', sans-serif;
    margin-top:10%;
  div{
      padding:0 10% 0 10%;
      .brief-heading{
        position:relative;
        left:10%;
        bottom:5vh;
    }
    p{
        text-align:justify;
        position:relative;
        bottom:5vh;
    }
    }
    
}

section.skills{
    font-family: 'Open Sans', sans-serif;
    margin-top:20%;
    h1{
        border-top:2px solid black;
        border-bottom:2px solid black;
        width:20%;
        margin-left:29%;
        padding-left:12%;
        padding-right:10%;
        font-family: 'Montserrat', sans-serif; 
    }
    h2{
        font-size:2rem;
        border:none;
        font-size:2.8rem;
        font-family: 'Montserrat', sans-serif;
        text-align:center;
        margin-top:20%;
    }
    .tech{
        margin-left:37%;
        img{
            display:block;
            margin-bottom:10%;
        }
        .tech-text{
            margin-left:10%;
        }
    }
}

section.projects{
    .projects-background{
        font-family: 'Montserrat', sans-serif;
        font-family: 'Smooch Sans', sans-serif;
        background-image:url('assets/projectsBack.jpg');
        background-size:100% 100%;
        background-repeat:no-repeat;
        height:20vh;
    }
    h1{
        color:white;
        border-top:2px solid white;
        border-bottom:2px solid white;
        width:100px;
        margin-left:29%;
        padding-left:40px;
        padding-right:6px;
        position:relative;
        top:30%;
        
    }
    nav{
        font-family: 'Montserrat', sans-serif;
        font-family: 'Smooch Sans', sans-serif;
        color:rgb(209, 207, 207);
        background-color:rgb(39, 38, 38);
        position:relative;
        bottom:5.2vh;
        font-size:2rem;
        ul{
            position:relative;
            right:0%;
            display:grid;
            grid-template-columns:48% 48%;

            li{
                //margin:10%;
                border-bottom:1.5px solid rgb(185, 184, 184);
                &:last-child{
                   position:relative;
                   margin-top:20%;
                   margin-bottom:30%;      
                }  
            }
            

        }
    }
    .project-links{
        position:relative;
        bottom:12vh;
        img{
            width:100%;
        }
    }
}

section.contacts{
    h1{
        border-top:2px solid black;
        border-bottom:2px solid black;
        width:20%;
        margin-left:28%;
        padding-left:5%;
        padding-right:15%;
        font-family: 'Montserrat', sans-serif; 
    }
    form{
        text-align:center;
        margin-top:15%;
        input,textarea{
            background:transparent;
            border:none;
            border-left:3px solid black;
            border-bottom:3px solid black;
            margin-top:8%;
        }
        input{
            padding:5%;
        }
        textarea{
            position:relative;
            //right:5.5%;
        }
        .submit-button{
            border-bottom:none;
            border-left:2px solid black;
            border-right:2px solid black;
            margin-top:10vh;
            width:30%;
        }
    }
}

footer{
    margin-top:20%;
    background-color:black;
    color:rgb(224, 224, 224);
    height:250px;
    font-family: 'Montserrat', sans-serif;
    text-align:center; 
    .back-to-top{

        i{
            position:absolute;
            left:48%;  
        }
        a{
            position:relative;
            top:8vh;
        }
    }
    .social-media{
        display:flex;
        justify-content:space-around;
        position:relative;
        top:30%;
        right:5%;
    }
    .copy-rights{
        position:relative;
        top:39%;
    }
}

