
body{
    overflow-x:hidden;
    margin:0;
    padding:0;
    background: radial-gradient(50% 50% at 50% 50%,
     rgba(26, 21, 21, 0) 0%,
     rgba(1, 1, 1, 0.16) 100%),
       linear-gradient(0deg, #FFFFFF, #FFFFFF);

}
ul{
    list-style:none;
}
a{
    text-decoration:none;
    color:inherit;
}
header{
    background-color:black;
    height:50px;
    color:rgb(218, 218, 218);
    .logo{
        width:6%;
        position:absolute;
        top:2%;
    }
    #mobile-menu{
       position:absolute;
       top:-2vw;
       width:88%;
       display:none;
       background-color:black;
       opacity:0.9;
       z-index:2;
       animation-name:slide-down;
       animation-duration:.3s;
      
       @keyframes slide-down{
           from{
               top:-70vw;
           }
           to{
               top:-2vw;
           }
       }
       li{
           padding:5%;
           margin-left:29%;
       }
      i{
          position:relative;
          bottom:32vh;
      }
    }
    i{
      font-size:2.5rem;
      float:right;
      margin-right:5%;
    }
    
}
section.billboard{
    background:url('assets/desktopBackground.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;
    height:100vh;
    position:relative;
    bottom:20px;
    color:rgb(250, 250, 250);
    .hi-bubble{
        position:absolute;
        width:10%;
        top:23%;
        left:12%;
    }
    
    .billboard-content{

        p{
            font-family: 'Advent Pro', sans-serif;
            text-align:center;
            padding-top:50%;
            padding-right:10;
            padding-left:3%;
            font-size:1.2rem;
        }
        .developer{
            position:relative;
            bottom:2%;
            font-weight:bold;
            text-align:center;
            font-size:1.7rem;
            font-weight:5em;
            font-family: 'Montserrat', sans-serif;
        }
        .divider{
            text-align:center;    
        }
        .contacts{
            text-align:center;
            margin-top:10%;
            img{
                width:7.5%;
                margin-right:5%;
                position:relative;
                left:2.5%;
            }
        }
    }
    .billboard-content-desktop{
        display:none;
    }
    
}

section.cosmetic{
    color:rgb(218, 218, 218);
   .it_berries_container{
       text-align:center;
       .itLogo{
        transform:rotate(-25deg);
        width:90%;
        position:relative;
        top:10vh;
    }
   }
   .creativity{
    background-color:black; 
    position:relative;
    bottom:10vh;
    font-family: 'Open Sans', sans-serif;
    h3{
        text-align:center;
        padding-top:10%;
        font-size:2rem;
        padding-right:1%;
    }
    p{
        padding: 0 8% 0 8%;
        text-align:justify;
        .more{
            display:none;
        }
    }
    .ITB-logo{
        display:none;
    }
    .button-container{
        text-align:center;
        padding-bottom:10%;
        button{
            padding:5%;
            padding-right:10%;
            padding-left:10%;
            background:transparent;
            color:white;
            font-weight:bold;
            border:none;
            border-left:1.8px solid white;
            border-right:1.8px solid white;
        }

    }
   }
   
}

section.aboutMe{
    margin-top:20%;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    h1{
        border-top:2px solid black;
        border-bottom:2px solid black;
        width:40%;
        margin-left:27%;
        font-family: 'Montserrat', sans-serif;
    }
    p{
        text-align:justify;
        padding:0 8% 0 8%;
    }

    .man-uli{
        width:15%;
        margin-right:80%;
        opacity:0.7;
        margin-bottom:-20%;
                                                                                                      
    }
}

.divider-container{
    text-align:center;
    margin-top:20%;
    margin-bottom:20%;
    img{
        
        width:300px;
    }    
}

section.brief{
    font-family: 'Open Sans', sans-serif;
    margin-top:10%;
  div{
      padding:0 10% 0 10%;
      .brief-heading{
        position:relative;
        left:10%;
        bottom:5vh;
    }
    p{
        text-align:justify;
        position:relative;
        bottom:5vh;
    }
    }
    
}


section.skills{
    font-family: 'Open Sans', sans-serif;
    margin-top:20%;
    text-align:center;

    .skills-mobile{
        h1{
            border-top:2px solid black;
            border-bottom:2px solid black;
            width:20%;
            margin-left:27%;
            padding-left:12%;
            padding-right:10%;
            font-family: 'Montserrat', sans-serif; 
        }
        h2{
            font-size:2rem;
            border:none;
            font-size:2.8rem;
            font-family: 'Montserrat', sans-serif;
            text-align:center;
            margin-top:20%;
        }
        .tech{
            
            img{
                display:block;
                margin-bottom:10%;
                margin-left:37%;
            }
            .tech-text{
                margin-right:3%;
            }
        }
    }
}
.skills-desktop{
    display:none;
}



section.projects{
    background-color:rgb(39, 38, 38);
    .projects-background{
        font-family: 'Montserrat', sans-serif;
        font-family: 'Smooch Sans', sans-serif;
        background-image:url('assets/projectsBack.jpg');
        background-size:100% 100%;
        background-repeat:no-repeat;
        height:30vw;
    }
    h1{
        color:white;
        border-top:2px solid white;
        border-bottom:2px solid white;
        width:100px;
        margin-left:29%;
        padding-left:15%;
        padding-right:3%;
        margin-bottom:10%;
        position:relative;
        top:30%;
        
    }

    .project-links{
        position:relative;
        //bottom:10vh;
        img{
            width:100%;
        }
        .desktop-projects{
            display:none;
        }
    }
}


section.contacts{
    margin-top:18%;
    h1{
        border-top:2px solid black;
        border-bottom:2px solid black;
        width:20%;
        margin-left:28%;
        padding-left:5%;
        padding-right:15%;
        font-family: 'Montserrat', sans-serif; 
    }
    form{
        text-align:center;
        margin-top:15%;
        input,textarea{
            background:transparent;
            border:none;
            border-left:3px solid black;
            border-bottom:3px solid black;
            margin-top:8%;
        }
        input{
            padding:5%;
        }
        textarea{
            position:relative;
            //right:5.5%;
        }
        .submit-button{
            border-bottom:none;
            border-left:2px solid black;
            border-right:2px solid black;
            margin-top:10vh;
            width:30%;
        }
    }
}



footer{
    margin-top:20%;
    background-color:black;
    color:rgb(224, 224, 224);
    height:250px;
    font-family: 'Montserrat', sans-serif;
    text-align:center; 
    .back-to-top{

        i{
            position:relative;
            top:3.5vh;
            left:12.4%; 
            animation-name:top;
            animation-duration:0.9s;
            animation-iteration-count:infinite;
            @keyframes top {
                from{
                    top:2.5vh;
                }
                to{
                  top:3.7vh;
                }
            } 
        }
        a{
            position:relative;
            top:8vh;
            right:3.4%;
        }
    }
    .social-media{
        display:flex;
        justify-content:space-around;
        position:relative;
        top:30%;
        right:5%;
    }
    .copy-rights{
        position:relative;
        top:39%;
        font-size:.7rem;
    }
}


//table**********
@media(min-width:700px){
    body{
        font-size:1.8rem;
    }
    header{
        height:80px;
        i{
            margin-top:1%;
            font-size:3.3rem;
        }
    }
    section.billboard{
        bottom:29px;
        .hi-bubble{
            top:15%;
            left:23%;
        }
        .billboard-content{
            position:relative;
            bottom:20vw;
            p{
                font-size:1.4rem;
                padding-bottom:2%;
                padding-right:2%;
            }
        }
    }
   
    section.cosmetic{
        .creativity{
            h3{
                padding-right:3%;
            }
        }
    }

    section.aboutMe{
        margin-top:0;
        h1{
            margin-bottom:15%;
        }
    }
    section.skills{
        .tech{
            img{
                margin-left:34%;
                width:30%;
                &:last-child{
                   margin:0;
                   margin-left:35%;
                   width:0%;
                }
            }
        }
    }
    section.projects{
        h1{
            padding-right:20%;
            right:2.5%;
        }
        nav{
            ul{
              li{
                  a{
                    position:relative;
                    left:16%;
                  }
                  &:last-child{
                      margin-left:16%;
                  }
                }
            }
        }
    }

    section.contacts{
        h1{
            padding-left:8.5%;
        }
        form{
            input{
                width:60%;
            }
            textarea{
                width:70%;
            }
        }
    }

    footer{
        height:370px;
        .back-to-top{
            padding-right:5%;
            i{
                font-size:2.5rem;
            }
       }
       ul{
        li{
            margin-top:3%;
            a{
                img{
                    width:150%;
                }
            }
        }
       }
       .copy-rights{
           font-size:1.4rem;
       }   
    }

}


//large screen tablet
@media (min-width:1024px){
    header{
        .logo{
            position:absolute;
            top:1.6%;
            width:4%;
        }
        i{
            display:none;
        }

        #mobile-menu{
            position:absolute;
            top:0.5%;
            display:flex;
            right:23%;
            width:40%;
            font-size:.9rem;
            font-family: 'Montserrat', sans-serif;
            li{
               margin-right:-15%;
               padding:2%; 
                a{
                  color:white;
                }
                &:last-child{
                    background-color:white;
                    border-radius:25px;
                    height:10px;
                    padding-right:4%;
                    padding-left:4%;
                    padding-bottom:1.2vw;
                    a{
                     color:black;
                    }
                }
            }
        }
    }

    section.billboard{
        .hi-bubble{
            width:7%;
            left:26.5%;
        }
        .billboard-content{
            display:none;
        }
        .billboard-content-desktop{
            display:block;
            text-align:center;
            font-size:1em;
            position:relative;
            top:20%;
            color:rgb(241, 241, 241);
            font-family: 'Advent Pro', sans-serif;
            .developer{
                font-family: 'Montserrat', sans-serif;
                z-index:1;
            }
            .divider{
                img{
                    position:relative;
                    right:1.3%;
                    z-index:1;
                }
            }
            .contacts{
                img{
                    margin-right:2%;
                    z-index:1;
                }
            }
        }
        .computer-illu{
            opacity:0.8;
            //transform:rotate3d(0,1,0,190deg);
            width:40%;
            position:absolute;
            left:60%;
            bottom:-200%;
            z-index:0;
        }
    }

    section.cosmetic{
        .creativity{
            font-size:.9rem;
            padding-bottom:10%;
            background: linear-gradient(90.18deg, #1D1D1D 31.74%, #1D1D1D 90.49%, #1D1D1D 90.49%);
            h3{
                padding:0;
                float:left;
                margin-left:8%;
            }
            p{
                text-align:none;
                padding:11% 30% 2% 8%;
            }
            .ITB-logo{
                display:inline;
                position:absolute;
                width:20%;
                right:1%;
            }
            .button-container{
                float:left;
                margin-left:8%;
                button{
                  padding:35%;
                }
            }
        }
    }
    section.aboutMe{
        font-size:.9rem;
        margin:0;
        margin-left:6;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
        h1{
            width:20%;
            position:relative;
            left:13%;
        }
        p{
          margin-top:-9.9%;
          margin-bottom:-8%;
        }
    }

    .divider-container{
        padding-bottom:10%;
        margin-left:1%;
    }
    .second-divider{
        padding-top:12%;
        padding-right:6%;
        margin-left:6%; 
    }

    section.brief{
        margin-top:-20%;
        margin-bottom:-30%;
        font-size:.9rem;
        display:grid;
        padding-left:4%;
        grid-template-columns:48% 48%;
        div{
            &:last-child{
                position:relative;
                left:55%
            }
        }
    }
    section.skills{
        display:none;
    }
    section.skills-desktop{
        display:block;
        font-size:.9rem;
        margin-top:-10%;
        h1{
            border-top:2px solid black;
            border-bottom:2px solid black;
            width:10%;
            margin-left:42%;
            padding-left:6.5%;
            padding-right:1%;
            font-family: 'Montserrat', sans-serif; 
        }
        h2,.tech{
            font-family: 'Montserrat', sans-serif;
            margin-left:25%;
        }
        .tech{
            display:grid;
            grid-template-columns:20% 20% 20% 20%;
            div{
                margin-top:7vh;
                
                div{
                    
                    margin-left:14%;
                }
                &:nth-child(4), &:nth-child(5), &:nth-child(7), &:nth-child(8){
                   
                   div{
                       margin-left:5%;
                   }
                }
                &:nth-child(6){
                    div{
                        position:relative;
                        top:2vh;
                        margin:20%;
                    }
                }
                &:last-child{
                    img{
                        width:80%;
                        position:relative;
                        bottom:1.8vw;
                        right:16%;
                    }
                    div{
                        position:relative;
                        bottom:3.3vw;
                    }
                }
            }
        }
        
    }

    section.projects{
        .projects-background{
            height:15vw;
            h1{
                font-size:1.7rem;
                width:0px;
                padding-left:7%;
                padding-right:12%;
                left:12%;
            }
        }
        nav{
            ul{
                display:grid;
            }       
        }
        .project-links{
            display:grid;
            grid-template-columns:33.4% 33.4% 33.4%;
            img{
                height:20vw;
            }
            .desktop-projects{
                display:inline;
            }
        }
    }
    section.contacts{
        font-size:.9rem;
        margin-top:5%;
        #contacts{
            position:relative;
            left:13%;
            width:0;
            margin-bottom:-8%;
            padding-right:14%;
            padding-left:6%;
        }
        form{
            
            #input{
                padding:1%;
                width:30%;
            }
            #textarea{
                width:32.7%;
                left:0.3%;
            }
            #submit-button{
                width:12%;
                padding:1.1%;
                padding-bottom:1.5%;
            }
        }
    }
    footer{
        font-size:.8rem;
        height:240px;
        .back-to-top{
            margin-right:2%;
            i{
                margin-right:8.5%;
                font-size:1.3rem;
                
            }
            a{
                margin-left:2.5%;
                position:relative;
                top:7vh;


            }
        }
        .social-media{
            justify-content: none;
            margin-left:43.5%;
            margin-right:37%;
            margin-top:4%;
             
            img{
                width:80%;
            }
        }
        .copy-rights{
            font-size:.9rem;
        }
    }

}



